@font-face {
  font-family: "Mori";
  src: url("../assets/fonts/Mori/PPMori-Regular.otf");
  font-weight: 400 600;
}

@font-face {
  font-family: "Mori";
  src: url("../assets/fonts/Mori/PPMori-Extralight.otf");
  font-weight: 100 300;
}
@font-face {
  font-family: "Mori";
  src: url("../assets/fonts/Mori/PPMori-SemiBold.otf");
  font-weight: 700 900;
}
@font-face {
  font-family: "Mori";
  src: url("../assets/fonts/Mori/PPMori-RegularItalic.otf");
  font-weight: 400 600;
  font-style: italic;
}
@font-face {
  font-family: "Mori";
  src: url("../assets/fonts/Mori/PPMori-ExtralightItalic.otf");
  font-weight: 100 300;
  font-style: italic;
}
@font-face {
  font-family: "Mori";
  src: url("../assets/fonts/Mori/PPMori-SemiBoldItalic.otf");
  font-weight: 700 900;
  font-style: italic;
}
@font-face {
  font-family: "Fraktion";
  src: url("../assets/fonts/Mori/PPFraktionMono-Regular.otf");
}
@font-face {
  font-family: "Supply";
  src: url("../assets/fonts/Mori/PPSupplyMono-Ultralight.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  overscroll-behavior-y: none;
  background-color: #0d0e13;
  font-family: "Mori", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/* Global variables */

:root {
  /* --pageTransitionTiming: cubic-bezier(0.75, 0, 0.15, 1); */
  --pageTransitionTiming: cubic-bezier(0.5, 0.18, 0, 1);
  --pageTransitionDuration: 1s;

  --darkBackground: #0d0e13;
  --lightBackground: #fff;
  --appMargins: 0 calc(100vw / 12);
}

@media (max-width: 600px) {
  :root {
    --appMargins: 0 3vw;
  }
}

/* Element universals */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: inherit;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.content-container {
  margin: 0 8.33333%;
}

/* Page transitions */

.openPage-enter {
  z-index: 2;
  opacity: 0;
  clip-path: polygon(120% 0%, 100% 0%, 100% 100%, 100% 100%);
  transform: translate(50vw, 0) scale(1.8) rotate(17deg);
}
.openPage-enter.openPage-enter-active {
  opacity: 1;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  transform: translate(0, 0) scale(1) rotate(0);
  transition: opacity var(--pageTransitionDuration) var(--pageTransitionTiming),
    clip-path var(--pageTransitionDuration) var(--pageTransitionTiming),
    transform var(--pageTransitionDuration) var(--pageTransitionTiming);
}
.openPage-exit {
  opacity: 1;
}
.openPage-exit.openPage-exit-active {
  opacity: 0;
  transform: translate(-10vw, 0) rotate(-7deg) scale(1.3);
  transition: opacity var(--pageTransitionDuration) var(--pageTransitionTiming),
    transform var(--pageTransitionDuration) var(--pageTransitionTiming);
}

.closedPage-enter {
  z-index: 2;
}
.closedPage-enter.closedPage-enter-active {
}
.closedPage-exit {
  z-index: 1;
}
.closedPage-exit.closedPage-exit-active {
}
