.navMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--darkBackground);
  color: #e4e0db;
  animation: var(--pageTransitionDuration) var(--pageTransitionTiming) openMenu;
}

@keyframes openMenu {
  from {
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 120% 0, 100% 100%, 0% 100%);
  }
}

.navMenuClosed {
  clip-path: polygon(0 0, -20% 0, 0% 100%, 0% 100%);
  animation: var(--pageTransitionDuration) var(--pageTransitionTiming) closeMenu;
}

@keyframes closeMenu {
  from {
    clip-path: polygon(0 0, 120% 0, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  }
}

.navMenuHide {
  visibility: hidden;
}

.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: var(--pageTransitionDuration) var(--pageTransitionTiming)
    openWrapper;
}

@keyframes openWrapper {
  from {
    transform: scale(1.3) rotate(-7deg) translate(-50vw, 0);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(0) translate(0, 0);
    opacity: 1;
  }
}

.wrapperClose {
  animation: var(--pageTransitionDuration) var(--pageTransitionTiming)
    closeWrapper;
}

@keyframes closeWrapper {
  from {
    transform: scale(1) rotate(0) translate(0, 0);
    opacity: 1;
  }
  to {
    transform: scale(1.3) rotate(-7deg) translate(-50vw, 0);
    opacity: 0;
  }
}

.container {
  display: grid;
  grid-column-gap: 2.22222vw;
  grid-template-columns: repeat(12, 1fr);
}

.images {
  position: absolute;
  top: 50%;
  left: 20vw;
  width: 16.6vw;
  height: 24.9vw;
  transform: translateY(-50%);
  overflow: hidden;
}

.imageItem {
  background-color: #0d0e13;
  opacity: 1;
  visibility: inherit;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: none;
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.shell {
}

.menu {
  position: relative;
  grid-column: 8/13;
  align-self: center;
}

.label {
  display: flex;
  overflow: hidden;
  line-height: 1.4;
  position: relative;
  /* margin-left: -10%; */
  font-size: 3.5vw;
}

.current {
  font-size: 0.5em;
  align-self: center;
  margin-right: 0.6em;
  transform: scale(0);
}

.item {
  display: inline-flex;
  transform-origin: top left;
  position: relative;
  /* font-size: 3.5vw; */
  font-weight: 100;
  /* line-height: 1.5; */
  letter-spacing: -0.1vw;
  text-transform: capitalize;
  opacity: 0;
  transform: translateY(4vw) rotate(5deg);
  animation: fadeIn 1s cubic-bezier(0, 0, 0, 1) forwards;
  animation-delay: calc(500ms + (var(--order) * 100ms));
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100%) rotate(5deg);
  }

  to {
    opacity: 1;
    transform: translateY(0vw) rotate(0deg);
  }
}

.item:after {
  content: "";
  bottom: 0.8vw;
  position: absolute;
  left: 0;
  height: 1px;
  width: 100%;
  transform: scaleX(0);
  will-change: transform;
  background: currentColor;
  background: white;
  transform-origin: right center;
  transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
  box-sizing: border-box;
}

.item:hover:after {
  transform: scaleX(1);
  transform-origin: left center;
}

@media (max-width: 1200px) {
  .label {
    font-size: 42px;
  }

  .images {
    width: 200px;
    height: 300px;
  }
}

@media (max-width: 600px) {
  .images {
    display: none;
  }

  .menu {
    position: relative;
    grid-column: 2/12;
  }

  .label {
    font-size: 58px;
    letter-spacing: -1.2px;
  }

  .item:after {
    height: 2px;
    bottom: 0.2em;
  }
}

@media (max-width: 400px) {
  .label {
    font-size: 14.5vw;
    letter-spacing: -0.3vw;
  }
  .item:after {
    height: 0.5vw;
    bottom: 0.2em;
  }
}

@media (max-height: 400px) and (max-width: 600px) and (orientation: landscape) {
  .images {
    display: initial;
    width: 50vh;
    height: 75vh;
  }
  .menu {
    grid-column: 8/13;
  }
  .label {
    font-size: 10vh;
  }
}
