.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform calc(var(--pageTransitionDuration) / 2)
      var(--pageTransitionTiming),
    opacity calc(var(--pageTransitionDuration) / 2) var(--pageTransitionTiming);
}

.loader {
  font-size: 20vw;
  color: white;
  position: relative;
  height: 0.48em;
  overflow: hidden;
}

.remaining {
  opacity: 0.3;
  position: absolute;
}

.progress {
  top: 0;
  width: 0%;
  overflow: hidden;
}

.percentage {
  font-size: 8vw;
  font-weight: 100;
  margin-top: -10vw;
  /* text-align: center; */
}
@media (max-width: 1200px) {
  .loader {
    font-size: 240px;
  }
}

@media (max-width: 300px) {
  .loader {
    font-size: 80vw;
  }
}
